:root {
    font-size: 62.5%;
}
@font-face {
    font-family: "Asbigan";
    src: url("../fonts/asbigan-4bvvb.ttf");
}
body {
    background-color: #F4DBD6;
    font-family: "Asbigan";
    overflow-x: hidden;
}
header {
    color: #350D0E;
    margin-top: -2rem;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-size: 2rem;
    padding: 1rem;
    margin-left: -5rem;
}
.logo img{
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.navigation {
    display: flex;
    gap: 2rem;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #350D0E;
}